@model SimpleRental.Models.NewList

@{
    ViewBag.Title = "Edit";

    //int RentalId = 0;
    //int CustomerFK = 0;
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //if (Model != null)
    //{
    //    RentalId = Model.RentalID;
    //    CustomerFK = Model.CustomerFK;
    //}

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RentalID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RentalID, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.RentalID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CustomerFK, new { @class = "form-control", @style = "display:none;" })
                <span class="customerid" style="display:none">@Model.CustomerFK</span>
                @{Html.RenderAction("CustomerList", "Home");}
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRented, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRented, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.DateRented, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="float:right">
                @*@Html.ActionLink("Add New", "Create")*@
                <input id="addmovie" type="button" value="Add Movie" />
            </p>
            <table class="table addclone">

                <tr>
                    <th>
                        @Html.Label("Movie Name")
                    </th>
                    <th>
                        @Html.Label("Genre Name")
                    </th>
                    <th>
                        @Html.Label("Date Returned")
                    </th>
                    <th></th>
                </tr>

                @{ if (Model.RentedLists != null && Model.RentedLists.Count > 0)
                   {
                        @*@foreach (var item in Model)*@
                        for (int i = 0; i < Model.RentedLists.Count; i++)
                        {
                            <tr class="clonetr">
                                <td>
                                    @*@Html.DisplayFor(modelItem => modelItem.RentedLists[i].MovieName)*@
                                    @Html.TextBoxFor(movieID => movieID.RentedLists[i].MovieID, new { @class = "form-control movieidholder", @style = "display:none;" })
                                    <span class="movieid" style="display:none">@Model.RentedLists[i].MovieID</span>
                                    @{Html.RenderAction("DdlMovies", "Home");}
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => modelItem.RentedLists[i].GenreName)*@
                                    @{Html.RenderAction("DdlGenres", "Home", new { movieId = Model.RentedLists[i].MovieID });}
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => modelItem.RentedLists[i].DateReturned, new { htmlAttributes = new { @type = "date" } })
                                </td>
                                <td>
                                    @Html.ActionLink("Remove", "Remove", new { rentedMovieID = Model.RentedLists[i].RentedID })
                                </td>
                                <td style="visibility:hidden">
                                    @*@Html.DisplayFor(modelItem => item.MovieName)*@
                                    @Html.TextBoxFor(rentedid => rentedid.RentedLists[i].RentedID, new { @class = "form-control", @style = "display:block;" })

                                </td>
                            </tr>
                        }
                   }
                   else
                   { 
                       <tr class="clonetr">
                            <td>
                                @*@Html.DisplayFor(modelItem => modelItem.RentedLists[i].MovieName)*@
                                <span class="movieid" style="display:none">0</span>
                                @{Html.RenderAction("DdlMovies", "Home");}
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => modelItem.RentedLists[i].GenreName)*@
                                @{Html.RenderAction("DdlGenres", "Home", new {movieId = 0 });}
                            </td>
                            <td>
                                @*@Html.EditorFor(modelItem => modelItem.RentedLists[i].DateReturned, new { htmlAttributes = new { @type = "date" } })*@
                                <input class="text-box single-line" data-val="true" data-val-date="The field Date Returned must be a date." id="item_DateReturned" name="item.DateReturned" type="date" value="">
                            </td>
                            <td>
                                @*@Html.ActionLink("Remove", "Remove", new { movieId = 0})*@
                            </td>
                        </tr>
                   }
                }

            </table>
            <input style="display:none" id="newMovieIdholder" type="text" name="newMovieIdholder" value="" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        //$(".SelectMovie").val($('.movieid').text());
        //**Display MovieName based on customer rented MovieID!
        var movie = $(".SelectMovie");
        for (var i = 0; i < movie.length; i++) {
            var movieid = $(movie[i]).parent().parent().find('.movieid').text();
            $(movie[i]).val(movieid);
        }

        //**Display GenreName based on Movie GenreFK!
        var genre = $(".SelectGenre");
        for (var i = 0; i < genre.length; i++) {
            var gerefk = $(genre[i]).parent().find('.moviegenrefk').text();
            $(genre[i]).val(gerefk);
        }

        $("#addmovie").on("click", function () {
            var tr = $(".clonetr");
            var newtr = $(tr[0]).clone();
            $(newtr).appendTo(".addclone");
            $(newtr).find('.movieid').text('0');
            $(newtr).find('.SelectMovie').val(0);
        });
    });
</script>
